/* 초기 설정 */
@layer base {
  *,
  :after,
  :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    font-family: var(--background), sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--text-white);
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    color: inherit;
    background: transparent;
    border-radius: 0;
    outline: none;
  }

  input[type='submit'] {
    cursor: pointer;
  }
  input[type='text'],
  input[type='password'],
  input[type='email'],
  textarea {
    outline: none;
    border: none;
  }

  button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  ul,
  dl,
  dt,
  dd,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0;
  }

  table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
    display: table;
  }

  tr {
    display: block;
  }
  th,
  td {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    vertical-align: top;
    font: inherit;
    color: inherit;
  }
}
