@import 'tailwindcss';
@import '../styles/fonts.css';
@import '../styles/base.css';
@import '../styles/theme.css';
@import '../styles/utilities.css';

:root {
  --background: var(--color-gray-900);
  --text-white: var(--color-mono-white);
  --font-pretendard: 'Pretendard';
}
